<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About US</title>
    <!-- bootstrap css sheet -->
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <!-- custom css sheet -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- google font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Teko:wght@300..700&family=Jersey+10&family=Jersey+20+Charted&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../static/img/logo-no-background.png" alt="company logo" class="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link active" href="#">Features</a>
                    <a class="nav-link active" href="#">About Us</a>
                    <a class="nav-link active" href="#">Login</a>
                    <a class="nav-link active" href="#">Signup</a>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search for music" aria-label="Search">
                        <button class="btn btn-danger" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <header>
        <div class="container pt-5">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg g-5">
                <img src="../static/img/nardo-1870916-3574678.jpg" class="img-fluid" alt="Responsive image">
            </div>
                <div class="col-sm align-items-start g-5">
                   <h1 class="headd">About MeloMatch </h1>
                      <p class="about">
                        Welcome to MeloMatch, your ultimate music recommendation companion! 
                        Our web app is designed to help you discover new music tailored to your unique tastes. 
                        Whether you're a fan of rock, jazz, hip-hop, or classical, our sophisticated algorithms analyze your 
                        listening habits and preferences to suggest tracks, albums, and artists that you'll love. We believe 
                        that music is a personal journey, and our mission is to enhance that journey by introducing you to sounds 
                        and rhythms that resonate with you. Our user-friendly interface ensures a seamless experience, 
                        allowing you to explore, listen, and enjoy music effortlessly. Dive into a world of endless musical 
                        possibilities with MeloMatch and let the melodies inspire you every day.
                      </p>
                </div>
            </div>
        </div>
    </header>

    <footer class="bg-dark text-white pt-5 pb-4 mt-5">
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold text-danger footer">Company</h6>
                    <ul class="list-unstyled">
                        <li><a class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">About MeloMatch</a></li>
                        <li><a class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold text-danger footer">Help</h6>
                    <ul class="list-unstyled">
                        <li><a class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">Track My Music</a></li>
                        <li><a class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">Community Support</a></li>
                        <li><a class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">Community Guidelines</a></li>
                        <li><a class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold text-danger footer">Account</h6>
                    <ul class="list-unstyled">
                        <li><a class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">Signup</a></li>
                        <li><a class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">Login</a></li>
                        <li><a class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">Subscribe</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold text-danger footer">Follow Us</h6>
                    <ul class="list-unstyled">
                        <li><a class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">Facebook</a></li>
                        <li><a class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">Instagram</a></li>
                        <li><a class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">Twitter</a></li>
                        <li><a class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">YouTube</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- bootstrap js -->
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../static/js/jquery.js" type="text/javascript"></script>
</body>
</html>