<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h6 id="artist1">word</h6>
    <h6 id="artist2"></h6>
    <h6 id="artist3"></h6>
    <h6 id="artist4"></h6>
    <h6 id="artist5"></h6>
    <script type="module">
      import { getTopFive } from "../static/js/getTopFive.mjs";
      $(document).ready(function () {
      
      });
    </script>
  </body>
</html>
