html,
body {
  height: 100%;
  font-size: 1.1rem;
  font-family: "Montserrat";
  color: white;
  margin: 0;
}
body a {
  text-decoration: none;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.head-about {
  height: 100%;
  font-size: 2.8rem;
  font-family: "Jersey 10", sans-serif;
  color: black;
}
.head-signup {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.8rem;
  font-style: normal;
  color: black;
}
.head-features {
  font-size: 2.8rem;
  font-family: "Jersey 10", sans-serif;
  color: whitesmoke;
}
.login-font {
  font-size: 0.9rem;
  font-family: "Jersey 10", sans-serif;
  color: white;
}
.para-about {
  height: 100%;
  font-size: 1.3rem;
  font-family: "Montserrat";
  color: black;
}
.para-features {
  font-size: 1.3rem;
  font-family: "Montserrat";
  color: white;
}
.gradient {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(13, 12, 13, 1) 0%
  );
}

.bakfeatures {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 95, 213, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.login-gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(59, 65, 79, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.homepage {
  background: rgb(72, 72, 77);
  background: linear-gradient(
    90deg,
    rgba(72, 72, 77, 1) 0%,
    rgba(46, 46, 48, 1) 35%,
    rgba(114, 119, 120, 1) 100%
  );
}
.image--size {
  width: 400px;
  height: auto;
}
.image-login {
  width: 80%;
  height: 80%;
}
.image__size {
  width: 70%;
  height: 70%;
  object-fit: cover;
}
.brand {
  color: red;
  font-family: "Jersey 10", sans-serif;
  font-size: 2.8rem;
}
.imgcircle {
  clip-path: circle();
  width: 230px;
  height: 230px;
  object-fit: cover;
}
.pragph {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  font-style: italic;
  color: white;
}
.footer {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.7rem;
  font-weight: 300;
  font-style: normal;
  color: white;
}
.footer-font {
  font-size: 0.8rem;
  list-style: none;
}

.artistnames {
  color: white;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.8rem;
}

.icon-spacing {
  margin-right: 10px; /* Adjust the value as needed */
}

.icon-spacing:last-child {
  margin-right: 0; /* Remove margin from the last icon */
}
.userprofile {
  clip-path: circle();
  width: 40px;
  height: 40px;
}
.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.navbar-nav .form-control {
  max-width: 500px; /* Adjust as needed */
  width: 100%;
}
.searchinput[type="search"] {
  width: 500px !important; /* Adjust width as needed */
}
.hero-nav .active {
  color: red !important;
  background-color: transparent !important;
}

.hero-nav .active::after {
  content: "";
  background-color: red;
  height: 2px;
  display: block;
  margin-top: 5px;
}

/* music artcover size for homepage */
.artcover {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
/* songs background color */
.song-color {
  background-color: #0b1828;
  transition: all 0.3s ease;
}
/* add hover animation */
.song-color:hover {
  border: solid thin grey;
  cursor: pointer;
  transform: translateY(-10px);
}
/* Home background image */
.home-back-img {
  background-image: url("../img/Muzik.jpg");
  min-height: 500px;
  background-position: 50% 50%;
  background-size: 100%;
}
.home-bck-color {
  background: rgb(72, 72, 74);
  background: linear-gradient(
    90deg,
    rgba(72, 72, 74, 1) 0%,
    rgba(21, 21, 23, 1) 35%,
    rgba(41, 43, 43, 1) 100%
  );
}
.library-font {
  color: whitesmoke;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 20px;
  font-style: normal;
}

.lib-margin {
  margin-top: 20px;
}
.lib-align {
  text-align: start;
}
.overflow {
  max-height: 800px;
  overflow-y: auto;
}
.button {
  border: none;
}
.home-font {
  font-family: "Protest Strike", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: white;
}


.for-you {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.music-artcover {
  width: 100%;
  height:auto;
}