!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Features</title>
    <!-- bootstrap css sheet -->
    <link rel="stylesheet" href="../static//css/bootstrap.css"/>
    <!-- custom css sheet goes here -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- google font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Teko:wght@300..700&family=Jersey+10&family=Jersey+20+Charted&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bakfeatures">
    <!-- Navigation bar -->
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark border-bottom border-body fixed-top"
      data-bs-theme="dark"
    >
      <div class="container">
        <a class="navbar-brand" href="#"
          ><img
            src="../static/img/logo-no-background.png"
            alt="company logo"
            class="logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link active" href="#">Features</a>
            <a class="nav-link active" href="#">About Us</a>
            <a class="nav-link active" href="#">Login</a>
            <a class="nav-link active" href="#">Signup</a>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search for music"
                aria-label="Search"
              />
              <button class="btn btn-danger" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <header>
      <div class="container pt-5">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6 g-5">
            <img
              src="../static/img/mymusic.jpg"
              alt="musicimage"
              class="img-fluid image__size"
            />
          </div>
          <div class="col-md-6 g-5">
            <h1 class="head-features">Personalized Recommendations</h1>
            <p class="para-features">
              At the heart of our music-recommending web application lies our
              powerful personalized recommendation engine. We understand that
              every listener is unique, with their own tastes, moods, and
              moments. That's why we've designed our system to deliver tailored
              music suggestions that resonate with you.
            </p>
          </div>
        </div>
        <h3 class="head-features text-center">Smart Playlists</h3>
        <ul>
          <li>
            <b>Automatic Playlist Creation:</b> Let our app generate playlists
            based on your mood, activity, or preferences. Whether you’re working
            out, relaxing, or studying, we’ve got the perfect playlist for you.
          </li>
          <li>
            <b>Dynamic Updates:</b> Enjoy playlists that evolve with your taste,
            updating regularly with new tracks.
          </li>
        </ul>
        <h3 class="head-features text-center">How It Works</h3>
        <ol>
          <li>
            <b>Listening History:</b> We analyze your listening habits to
            understand your favorite genres, artists, and songs. The more you
            listen, the better we get at knowing your preferences.
          </li>
          <li>
            <b>User Preferences:</b> You can customize your music
            recommendations by telling us your favorite genres, moods, and even
            specific artists you love.
          </li>
          <li>
            <b>Advanced Algorithms:</b> Our state-of-the-art algorithms combine
            collaborative filtering, content-based filtering, and deep learning
            to provide highly accurate and diverse music suggestions.
          </li>
          <li>
            <b>Continuous Learning:</b> Our recommendation engine continuously
            learns and adapts from your feedback. By liking, disliking, or
            skipping songs, you help us refine your personalized music
            experience.
          </li>
          <li>
            <b>Discover new music:</b>Uncover hidden gems and new releases that
            match your taste, making every listening session exciting and fresh.
          </li>
        </ol>
      </div>
    </header>

    <footer class="bg-dark text-white pt-5 pb-4 mt-5">
      <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold text-danger footer">
              Company
            </h6>
            <ul class="list-unstyled">
              <li>
                <a
                  class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                  >About MeloMatch</a
                >
              </li>
              <li>
                <a
                  class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold text-danger footer">
              Help
            </h6>
            <ul class="list-unstyled">
              <li>
                <a
                  class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                  >Track My Music</a
                >
              </li>
              <li>
                <a
                  class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                  >Community Support</a
                >
              </li>
              <li>
                <a
                  class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                  >Community Guidelines</a
                >
              </li>
              <li>
                <a
                  class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                  >Help</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold text-danger footer">
              Account
            </h6>
            <ul class="list-unstyled">
              <li>
                <a
                  class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                  >Signup</a
                >
              </li>
              <li>
                <a
                  class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                  >Login</a
                >
              </li>
              <li>
                <a
                  class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                  >Subscribe</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold text-danger footer">
              Follow Us
            </h6>
            <ul class="list-unstyled">
              <li>
                <a
                  class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                  >Facebook</a
                >
              </li>
              <li>
                <a
                  class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                  >Instagram</a
                >
              </li>
              <li>
                <a
                  class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                  >Twitter</a
                >
              </li>
              <li>
                <a
                  class="footer-font link-light link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                  href="#"
                  >YouTube</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- bootstrap js -->
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/jquery.js" type="text/javascript"></script>
  </body>
</html>
