<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
   <!-- bootstrap css sheet -->
   <link rel="stylesheet" href="../static//css/bootstrap.css"/>
   <!-- custom css sheet goes here -->
   <link rel="stylesheet" href="../static/css/style.css" />
    <!--Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Playwrite+FR+Moderne:wght@100..400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="login-gradient flex-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <!--image section -->
          <img
            src="../static/img/record.jpg"
            class="img-fluid image-login"
            alt="guitar"
          />
        </div>
        <div class="col-md-6">
          <div class="text-center">
            <!-- Company logo -->
            <a class="navbar-brand" href="#"
              ><img
                src="../static/img/logo-no-background.png"
                alt="company logo"
                class="logo"
            /></a>
            <!--login form -->
            <form>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  aria-label="username"
                />
              </div>
              <div class="mb-3">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  aria-label="password"
                />
              </div>
              <div class="mb-3 text-end">
                <a href="#" class="login-font">Forgot your password?</a>
              </div>
              <div class="d-grid mb-3">
                <button class="btn btn-primary" type="button">Login</button>
              </div>
              <div class="form-check text-start">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="rememberme"
                />
                <label class=" login-font form-check-label" for="rememberme"
                  >Remember me</label
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- bootstrap and jquery js -->
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/jquery.js" type="text/javascript"></script>
    <!-- Script to toggle show password -->
    <script>
      // Code to check email format
    </script>
  </body>
</html>
