<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
   <!-- bootstrap css sheet -->
   <link rel="stylesheet" href="../static//css/bootstrap.css"/>
   <!-- custom css sheet goes here -->
   <link rel="stylesheet" href="../static/css/style.css" />
    <!--Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Playwrite+FR+Moderne:wght@100..400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="row g-3">
        <div class="g-5">
          <h1 class="head-signup">Create your Account</h1>
          <p>to continue to Melomatch</p>
        </div>
        <div class="row g-3">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="First name"
              aria-label="First name"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Last name"
              aria-label="Last name"
            />
          </div>
        </div>
        <div class="row g-3">
          <div class="col">
            <input
              type="email"
              class="form-control"
              placeholder="Email Address"
              aria-label="Email Address"
            />
          </div>
          <div class="col">
            <input
              type="email"
              class="form-control"
              placeholder="Confirm Email Address"
              aria-label="Confirm Emai; Address"
            />
          </div>
        </div>
        <div class="row g-3">
          <div class="col">
            <input
              type="password"
              class="form-control"
              placeholder="Enter Password"
              aria-label="Password"
            />
          </div>
          <div class="col">
            <input
              type="password"
              class="form-control"
              placeholder="Confirm Password"
              aria-label="Confirm Password"
            />
          </div>
        </div>
        <div class="row g-3">
          <div class="col">
            <input type="checkbox" class="form-check-input" id="showpassword" />
            <label for="showpassword"> show password</label>
          </div>
        </div>
        <div class="row g-5">
          <div class="d-grid gap-2 col-2 mx-auto text-center">
            <button class="btn btn-primary" type="button">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <!-- bootstrap and jquery js -->
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/jquery.js" type="text/javascript"></script>
    <!-- Script to toggle show password -->
    <script>
      /// code to implement show and hide password on click
    </script>
  </body>
</html>
